{
    "parser": "babel-eslint",
    "extends": ["eslint:recommended"],
    "env": {
        "node": true,
        "es6": true,
        "mocha": true
    },
    "overrides": [
        {
            "files": ["app/**/*.js", "app/**/*.jsx"],
            "plugins": ["react", "react-hooks"],
            "env": {
                "browser": true
            },
            "parserOptions": {
                "ecmaFeatures": {
                    "jsx": true
                }
            },
            "rules": {
                "react/jsx-uses-react": "error",
                "react/jsx-uses-vars": "error",
                "react-hooks/rules-of-hooks": "error",
                "react-hooks/exhaustive-deps": "warn"
            }
        }
    ]
}
